.ordering {
  h3 {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .order-count {
    button {
      width: 26px;
      height: 26px;

      border: 2px solid $primary;
      border-radius: 6px;

      i {
        @include flexbox;
        width: 100%;
        height: 100%;
        color: $primary;
        border-radius: 4px;

        &:hover,
        &:active {
          background-color: $quaternary;
          transition: all 150ms ease-in;
        }
      }
    }
  }
}

.cart-card {
  .info {
    width: 100%;

    .menu-name {
      max-width: 90%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .cart-trash-can-icon {
    position: absolute;
    top: 16px;
    right: 18px;
    width: 24px;
    height: 24px;
    transition: transform 100ms ease-in;

    &:hover,
    &:active {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
