.login {
  @include column-flexbox(start);
  height: 100vh;
  max-height: $default-height;

  &-logo-container {
    @include flexbox();
    width: 120%;
    max-width: $md-breakpoint;

    padding-top: 40px;
    margin-bottom: 24px;

    .login-logo {
      width: 100%;
      height: auto;
    }
  }

  &-btn-box {
    @include flexbox();
    // 로그인 페이지 설계 시, 해당 버튼 최소 크기 72px;
    width: calc(72px * 2 + 16px);
    gap: 16px;
  }
}
