.login {
  @include column-flexbox(start);
  height: 100vh;

  &-logo-container {
    width: 100vw;
    max-width: $md-breakpoint;

    padding-top: 20px;
    margin-bottom: 24px;

    .login-logo {
      width: 100%;
      height: auto;
    }
  }

  &-btn-box {
    @include flexbox();
    // 로그인 페이지 설계 시, 해당 버튼 최소 크기 72px;
    width: calc(72px * 2 + 16px);
    gap: 16px;

    // height: 92px;
    // width: 200px;
  }
}
