.option {
  @include column-flexbox(start);
  min-height: 100vh;

  .header-box {
    width: 100vw;
    margin-bottom: 16px;
  }

  .item-option-form {
    width: 100%;
    margin-bottom: 24px;

    &:nth-child(3) {
      background-color: pink;
    }

    .line-input {
      margin-bottom: 8px;
    }

    .option-radiobox {
      @include flexbox();
      width: 100%;
      height: 50px;
      margin-bottom: 8px;

      h3 {
        width: 100%;
        position: relative;
        font-size: 20px;
        margin-left: 5%;
      }

      .icon-box {
        margin-right: 5%;
      }
      input[type='radio'] {
        /* removing default appearance */
        -webkit-appearance: none;
        appearance: none;
        /* creating a custom design */
        width: 30px;
        height: 30px;
        outline: none;
        cursor: pointer;
      }

      //체크안된 상태
      input.none {
        position: relative;
      }
      input.none::before {
        content: '\f058';
        //f058 아이콘이 생각보다 헷갈려서 f111아이콘으로 넣는 것도 괜찮을 듯
        font-family: 'Font Awesome 5 Free';
        font-weight: 400;
        //font-weight를 통해서 아이콘의 solid 900, regular 400 를 구분
        font-size: 30px;
        color: $radiobox;
      }

      //체크 된 상태
      input.checked {
        position: relative;
      }
      input.checked::before {
        content: '\f058';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 30px;
        color: $radiobox;
      }
    }
  }

  .count {
    @include flexbox(end);
    margin-top: 16px;

    .title {
      font-size: 22px;
      margin-right: 10px;
    }

    .cnt-box {
      @include flexbox();
      width: 40px;
    }

    .cnt {
      font-size: 22px;
      margin-left: 16px;
      margin-right: 16px;
    }

    .button {
      width: 40px;
      height: 40px;

      border: 2px solid $primary;
      border-radius: 6px;

      i {
        @include flexbox;
        width: 100%;
        height: 100%;
        color: $primary;
        border-radius: 4px;
        font-size: 30px;

        &:hover,
        &:active {
          background-color: $quaternary;
          transition: all 150ms ease-in;
        }
      }
    }
  }

  .item-option-form-btn-complete {
    width: 100%;
    padding-right: 40px; //fixed했을 때, 크기가 이상해져서 패딩으로 하드코딩함
    position: fixed;
    bottom: 5%;
  }
}
