.local-register-lineinput1{
    margin-top: 5%;
}

.local-register-lineinput2{
    margin-top: 5%;
    margin-bottom: 5%;
}

.local-register-btn-pass{
    margin-top: 20%;
}

.local-register-btn-complete{
    width: 100%;
    padding-right: 56px; //fixed했을 때, 크기가 이상해져서 패딩으로 하드코딩함
    position: fixed;
    bottom: 5%;
}