version: '3.9'
services:
  nado-react:
    build: 
      context: ./client
      dockerfile: Dockerfile.dev
      args:
        - NODE_ENV=development 
    volumes:
      - ./client:/usr/src/app
  nado-nest:
    build: 
      context: ./server
      dockerfile: Dockerfile.dev
      args:
        - NODE_ENV=development 
    volumes:
      - ./server:/usr/src/app