@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.App {
  font-family: Jua;
}
//sweetalert2 폰트 적용
.swal2-title {
  font-family: Jua;
}
.swal2-html-container {
  font-family: Jua;
}