// @import "./styles/main.scss";
@import "../styles/main.scss";

.App {
  // background-color: pink;
  // 배경 색상 분홍으로 나와서 주석처리
}

.test {
  // background-color: $background-gray;
  background: $btn-gradation-1;
}

img {
  width: 100px;
  height: 100px;
}
