.header-box {
  @include flexbox();
  position: relative;
  width: 100vw;
  max-width: 480px;

  height: 62px;
  border-bottom: 2px solid $primary;

  .arrow-box {
    width: 26px;
    height: 22px;

    position: absolute;
    left: 5.33%;
    right: 87.73%;
    top: 32.26%;
    bottom: 32.26%;
    cursor: pointer;
    transition: transform 100ms ease-in-out;

    &:hover,
    &:active {
      transform: scale(1.05);
    }

    i {
      font-size: 26px;
      color: $primary;
    }
  }

  .title {
    font-size: 20px;
    color: $black;
  }
}
