.header-with-img {
  @include flexbox(between, start);
  position: relative;
  padding: 0 $sm-margin;
  width: 100vw;
  max-width: 480px;
  padding: 0;
  height: 180px;

  &-bg {
    text-align: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 20px;
    @include flexbox(between);

    i {
      position: relative;
      z-index: 1;
      margin-top: 16px;
      font-size: 26px;
      color: $primary;
    }
  }
}
