.header-with-img {
  @include flexbox(between, start);
  position: relative;
  padding: 0 $sm-margin;
  width: 100vw;
  // height: 164px;       // 높이 추후 상의.
  height: 200px;

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }

  i {
    margin-top: 16px;
    font-size: 26px;
    color: $primary;
  }
}
