.header-box {
  @include flexbox();
  position: relative;
  width: 100%;
  height: 62px;
  border-bottom: 2px solid $primary;

  .arrow-box {
    width: 26px;
    height: 22px;

    position: absolute;
    left: 5.33%;
    right: 87.73%;
    top: 32.26%;
    bottom: 32.26%;

    i {
      font-size: 26px;
      color: $primary;
    }
  }

  .title {
    font-size: 20px;
    color: $black;
  }
}
