.pickup-detail {
    @include column-flexbox(start, center);
    position: relative;
    width: 100%;
    min-height: 100vh;
  
    .header-box {
      width: 100vw;
      margin-bottom: 16px;
    }
  
    .btn {
      margin-bottom: 24px;
    }

    .info{
        @include column-flexbox(start, start);
        width: 100%;      

        section {
            width: 100%;
            margin-bottom: 24px;
          }
        
          &-map-section {
            @include column-flexbox(center, center);
        
            .form-title {
              align-self: start;
              margin-bottom: 12px;
            }
        
            .store-map-section {
              @include flexbox();
              width: 100vw;
              margin-bottom: 0;
            }
          }
        
          &-list-section {
            margin-bottom: 12px !important;
        
            .form-title {
              margin-bottom: 12px;
            }
            .order-card {
              margin-bottom: 12px;
            }
          }

          .store-maps{
            height: 36vh;
          }
    }
  }
  