.btn-profile{
    width: 100%;
    background-color: $white;
    min-height: 60px;
    position: relative;

    padding: 0 20px 0 30px;

    @include flexbox(between);

    cursor: pointer;
    &:hover,
    &:active {
      i {
        transition: all 150ms ease-in;
        transform: scale(1.05);
      }
    }
    
    .name {
        font-size: 24px;
        color: $dark-gray;
    }
    i{
        font-size: 24px;
        color: $dark-gray;
    }
}