.btn-profile {
  @include flexbox(between);

  position: relative;
  width: 100%;
  min-height: 60px;
  padding: 0 20px 0 30px;
  border-radius: 6px;
  background-color: $white;

  cursor: pointer;

  &:hover,
  &:active {
    background-color: $quaternary;

    i {
      transition: all 150ms ease-in;
      transform: scale(1.05);
    }
  }

  .name {
    font-size: 24px;
    color: $dark-gray;
  }
  i {
    font-size: 24px;
    color: $dark-gray;
  }
}
