.btn-pickup{
    background: $btn-gradation-1;
    border-radius: 20px;
    min-height: 160px;
    min-width: 160px;
    position: relative;

    @include column-flexbox();

    cursor: pointer;
    &:hover,
    &:active {
      i {
        transition: all 150ms ease-in;
        transform: scale(1.05);
      }
    }

    .icon {
        height: 48px;
        width: 48px;
    }
    
    .name {
        font-size: 20px;
        color: $white;
    }
}