.btn-box {
  @include column-flexbox();
  width: 100%;

  &-icon-container {
    @include flexbox(center, center);

    width: 100%;
    min-height: 60px;
    padding: 10% 0;
    margin-bottom: 8px;

    background-color: $white;
    border: 1px solid $box-border;
    border-radius: 12px;

    .btn-box-icon {
      width: 50%;
      height: auto;
    }
  }

  &-text {
    font-size: 16px;
    color: $light-gray;
  }
}
