@import '~react-datepicker/dist/react-datepicker.css';

.date-picker-container {
  @include flexbox(between);

  width: 100%;

  .date-picker-split {
    margin: 0 4px;
  }
}

.datePicker {
  input {
    width: 100%;
    height: 36px;
    padding-left: 6px;

    border: 2px solid $primary;
    border-radius: 6px;
  }
}

.react-datepicker-popper {
  .react-datepicker__header {
    // background-color: $tertiary;
    // background-color: $quaternary;
    // background-color: $secondary;
    background-color: $primary;

    .react-datepicker__day-name {
      font-weight: 600;

      &:first-child {
        // color: $red;
        // color: red;
      }

      &:last-child {
        // color: $blue;
        // color: blue;
      }
    }
  }
  .react-datepicker__navigation-icon::before {
    border-color: $dark-gray;

    // border-color: $black;
  }
}
