.pickup-store-list {
  width: 100%;
  max-height: 60vh;
  overflow-y: scroll;

  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }

  .pickup-store-card {
    margin-bottom: 16px;
  }
}
