.edit-profile-form {
  flex: 1;
  @include column-flexbox(start);
  width: 100%;

  .avatar-container {
    position: relative;
    width: 50%;
    max-width: 250px;
    margin-bottom: 30px;

    .avatar {
      position: relative;
      padding-top: 100%;
      border-radius: 50%;
      overflow: hidden;

      &-img {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; // or contain
        cursor: pointer;
      }

      .file-input {
        position: absolute;
        top: 0;
        left: 0;
        background-color: pink;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }

    .avatar-hidden {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }

    .camera-container {
      position: absolute;
      bottom: 5%;
      right: 5%;
      width: 20%;
      padding-top: 20%;
      pointer-events: none;

      .camera-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        padding: 5px;

        border: 2px solid $placeholder;
        border-radius: 50%;
        background-color: $white;
        pointer-events: none;
      }
    }
  }

  .line-input {
    margin-bottom: 16px;
  }

  &-btn {
    width: 100%;
    margin-top: auto;
    margin-bottom: 18px;
  }
}
