.signup-local-form {
  @include column-flexbox(start, start);
  width: 100%;
  margin-bottom: 24px;
  flex: 1;

  &-inputs {
    width: 100%;
    flex: 1;
  }

  .line-input {
    margin-bottom: 8px;
  }

  button {
    margin-top: 16px;
  }
}

.signup-local-form-btn-complete {
  width: 100%;
}
