.footer {
  width: 100vw;
  max-width: 480px;
  height: 100px;
  // 가운데 정렬
  margin-left: calc(0px - (($gutter / 2) + ($sm-margin)));
  background-color: $box-border;

  @include column-flexbox(center, first);
  padding: 24px;

  .iconbox {
    width: 24px;
    height: 24px;
  }

  .box1 {
    @include flexbox(first, center);
    margin-bottom: 10px;
  }

  .box2 {
    @include flexbox(first, center);
  }

  p {
    color: $placeholder;
  }

  .firstline {
    font-size: 20px;
    margin-right: 8px;
  }

  .secondline {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .name {
    font-size: 10px;
    margin-right: 8px;
  }
}
