.footer {
  width: 100vw;
  height: 100px;
  // 가운데 정렬
  margin-left: calc(0px - (($gutter / 2) + ($sm-margin)));
  // 아래 정렬
  margin-top: auto;
  background-color: $box-border;

  @include column-flexbox(center, first);
  padding-left: 5%;

  .iconbox{
    width: 24px;
    height: 24px;
  }

  .box1{
    @include flexbox(first,center);
    margin-bottom: 10px;
  }

  .box2{
    @include flexbox(first,center);
  }

  text{
    color: $placeholder;
  }

  .firstline{
    font-size: 20px;
    margin-right: 3%;
  }

  .secondline{
    font-size: 14px;
    margin-bottom: 10px;
  }

  .name{
    font-size: 10px;
    margin-right: 3%;
  }

}
