.line-input {
  padding: 4px 8px;
  width: 100%;
  height: 60px;

  font-size: 20px;
  font-weight: 600;
  color: $primary;

  border-bottom: 2px solid $primary;
  background-color: transparent;

  &::placeholder {
    color: $primary; //placeholder 색상 placeholder에서 primary로 변경함
  }
}
