.line-input {
  padding: 4px 8px;
  width: 100%;
  height: 60px;

  font-size: 20px;
  // color: $primary;
  color: $dark-gray;

  border-bottom: 2px solid $primary;
  background-color: transparent;

  &::placeholder {
    color: $primary; //placeholder 색상 placeholder에서 primary로 변경함
  }

  &-error {
    // 포지션 설정은 페이지 별로
    // position: absolute;
    // margin-top: -4px;
    font-size: 14px;
    color: $secondary;
  }
}

// errors가 prop으로 전달이 안 됨..
// div로 컨테이너 만들어서 error와 같이 사용
.line-input-container {
  position: relative;
  width: 100%;

  // 각 페이지의 form에서 margin-bottom 설정
  // .line-input {
  // margin-bottom: 16px;
  // }

  .line-input-error {
    position: absolute;
    // bottom: -16px;
    top: 60px + 4px;
  }
}
