.state-box {
    @include flexbox();
    background-color: $dark-gray;
    color: $white;
    font-size: 32px;
    border-radius: 24px;
    min-height: 62px;

    width: 108%;
}

.state-box-blue {
    @include flexbox();
    background-color: $blue;
    color: $white;
    font-size: 32px;
    border-radius: 24px;
    min-height: 62px;

    width: 108%;
}