// base
@import './base/reset';
@import './base/font';
@import './base/base';

// constants
@import './constants/breakpoints';
@import './constants/grids';
@import './constants/color';
@import './constants/typography';
@import './constants/z-index';

// mixins
@import './mixins/flexbox';
@import './mixins/position';

// components
// 이번주 원자는 여기에 import 해서 스타일 적용
@import './components/atoms/box_input';
@import './components/atoms/line_input';
@import './components/atoms/cards/card_common';
@import './components/atoms/cards/record_card';
@import './components/atoms/cards/order_store_card';
@import './components/atoms/cards/pickup_store_card';
@import './components/atoms/cards/picking_card';
@import './components/atoms/cards/ordering_card';
@import './components/atoms/cards/pickup_ready_card';
@import './components/atoms/cards/profile_card';
@import './components/atoms/btns/btn';
@import './components/atoms/btns/btn_profile';
@import './components/atoms/btns/btn_squre_box';
@import './components/atoms/btns/btn_box';
@import './components/atoms/header';
@import './components/atoms/footer';
@import './components/atoms/header_with_logo';
@import './components/atoms/header_with_img';
@import './components/atoms/store_info_section';
@import './components/atoms/cards/menu_card';

// molecules
@import './components/molecules/login_form';
@import './components/molecules/signup_local_form';
@import './components/molecules/home_header';
@import './components/molecules/home_main_btns';
@import './components/molecules/home_menus';
@import './components/molecules/profile_edit_form';
@import './components/molecules/passwd_edit_form';
@import './components/molecules/order_store_list';
@import './components/molecules/store_map_section';
@import './components/molecules/store_menu_section';

// pages
@import './pages/login';
@import './pages/social_register';
@import './pages/local_register';
@import './pages/home';
@import './pages/setting';
@import './pages/edit_profile';
@import './pages/edit_passwd';
@import './pages/order/order_home';
@import './pages/order/order_store';
@import './pages/order/order_cart';
