.order-cart {
  @include column-flexbox(start, center);
  position: relative;
  height: 100vh;
  max-height: $default-height;

  .header-box {
    width: 100vw;
    margin-bottom: 16px;
  }

  &-fill-section {
    @include column-flexbox(start);
    position: relative;
    width: 100%;
    flex: 1;

    .order-cart-list {
      width: 100%;
      flex: 1;
    }

    .order-cart-fill-name {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .order-card {
      margin-bottom: 16px;
    }

    .btn {
      margin-bottom: 24px;
    }
  }
}
