.order-cart {
  @include column-flexbox(start, center);
  position: relative;
  min-height: 100vh;

  .header-box {
    width: 100vw;
    margin-bottom: 16px;
  }

  &-empty-section {
    flex-basis: 75%;

    @include column-flexbox(center);
    width: 100%;

    .cart-empty-container {
      width: 50%;
      max-width: 200px;
      margin-bottom: 16px;

      .coffee-img {
        width: 100%;
        height: auto;
      }
    }
    .empty-text {
      font-size: 20px;
    }
  }

  &-fill-section {
    @include column-flexbox(start);
    position: relative;
    width: 100%;
    flex: 1;

    .order-cart-fill-name {
      font-size: 20px;
      margin-bottom: 20px;
    }

    .order-card {
      margin-bottom: 16px;
    }

    .btn {
      position: fixed;
      left: 50%;
      bottom: 24px;
      width: calc(100% - 40px);
      transform: translateX(-50%);
    }
  }
}
