.order-cart {
  @include column-flexbox(start, center);
  position: relative;
  min-height: 100vh;

  .header-box {
    width: 100vw;
    margin-bottom: 16px;
  }

  &-empty-section {
    flex-basis: 75%;

    @include column-flexbox(center);
    width: 100%;

    .cart-empty-container {
      width: 50%;
      max-width: 200px;
      margin-bottom: 16px;

      .coffee-img {
        width: 100%;
        height: auto;
      }
    }
    .empty-text {
      font-size: 20px;
    }
  }
}
