// 텍스트 컬러
$white: #fff;
$black: #000;
$dark-gray: #555555;
$gray: #959393; // 톡 글자
$light-gray: #9d9d9d; // 메인 화면 기타.. 글자색
$placeholder: #bababa;
$box-border: #efefef;

// 주요 컬러
$primary: #bf9270;
$secondary: #e3b7a0;
$tertiary: #edcdbb;
$quaternary: #ffeddb;
$radiobox: #ddb69b;

// 주문/픽업 버튼들 컬러
$red: #f47272;
$green: #4b8a5d;
$blue: #43a2ff;

// 기타
$background-gray: #f9f9f9;

// 그라데이션 컬러
$btn-gradation-1: linear-gradient(
  135.63deg,
  rgba(255, 242, 230, 0.8) -71.18%,
  rgba(225, 189, 167, 0.69) -27.72%,
  #bf9270 97.37%
);

$btn-gradation-2: linear-gradient(
  135.63deg,
  rgba(255, 255, 255, 0.8) -71.18%,
  rgba(114, 98, 86, 0.46) 10.27%,
  #726256 97.36%
);
